@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Space Grotesk', sans-serif;
    text-decoration: none;
    color: rgb(216, 233, 168);
    list-style: none;
}
body{
    background-color: rgb(15, 14, 14);
}
header{
    background-color: rgb(25, 26, 25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 7.5%;
}
.logo a{
    font-family:'Poppins', sans-serif;
    color: rgb(78, 159, 61);
    font-size: 5vh;
    align-self: center;
    letter-spacing: -.01em;
    transition: .3s;
}
.logo a:hover{
    color: rgb(216, 233, 168);
    letter-spacing: -.0000125em;
}
header nav .navlinks a{
    color: rgb(78, 159, 61);
    font-size: 2.5vh;
    transition: .3s;
}
header nav .navlinks li{
    display: inline-block;
    padding: 0 20px;
}
header nav .navlinks li:hover{
    transform: scale(1.2);
    letter-spacing: .1em;
}
h2{
    text-align: center;
    padding: .1vh;
    margin:1vh 0;
    font-size: 3vh;
    background-color: rgb(216, 233, 168);
    cursor:default;
    color: rgb(15, 14, 14);
}
h3{
    text-align: center;
    padding: 2.5vh 2%;
    cursor:default;
    font-size: 3vh;
    background-color: rgb(81, 30, 71);
}
h4{
    text-align: center;
    padding: 15px 2%;
    font-size: 3vh;
    background-color: rgb(25, 26, 25);
    cursor:default;
}
#desc1{
    text-align: left;
    cursor:default;
    font-size: 17.5px;
    max-width: 65%;
    max-height: 300px;
}
#desc2{
    text-align: right;
    cursor:default;
    font-size: 17.5px;
    max-width: 65%;
    max-height: 300px;
}
.foto{
    height: 450px;
    border-radius: 10px;
    align-content: space-evenly;
    transition: .3s;
}
.foto:hover{
    scale:105%;
}
footer{
    background-color: rgb(25, 26, 25);
    height: 50px;
    text-align: center;
    padding: 15px;
}
.contenedor-imagenes{
    display: flex;
    justify-content: center;
    background-color: rgb(25, 26, 25);
    gap:15px;
    padding:5px;
}
.release{
    display: flex;
    justify-content: center;
    gap:50px;
    align-items: center;
    padding: 20px 5%;
}
.imagen{
    height: 45vh;
    object-fit: cover;
    border-radius: 10px;
    transition: .3s;
    align-items: center;
}
.imagen:hover{
    scale:102.5%;
}
@media screen and (max-width:1200px){
    h2,h3,h4{
        font-size: 2.5vh;
    }
    header{
        height: 80px;
        padding: 5px 2.5%;
    }
    .logo a{
        font-size: 5vw;
        letter-spacing: -.012em;
    }
    header nav .navlinks a{
        font-size: 2.5vw;
    }
    header nav .navlinks li{
        display: inline-block;
        padding: 0 5px;
    }
    header nav .navlinks li:hover{
        transform: scale(1);
        letter-spacing: 0em;
    }
    #desc1, #desc2{
        font-size: 2.5vw;
        text-align: center;
    }
    .foto{
        width: 100vw;
        height: auto;
        padding: 5vw;
        border-radius: 7.5vw;
    }
    .release{
        flex-direction: column;
    }
    .imagen{
        width: 45vw;
        max-height: 15vh;
    }
    footer{
        font-size: 1.5vh;
    }
}

